In [3]:
import sys
import os
import collections
from collections import defaultdict
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import re
from tabula import read_pdf
import csv

In [4]:
excel_file = "./BAC/bac2019.xlsx" 

data = pd.read_excel(excel_file, engine='openpyxl')

print(data.shape)

D:\Anaconda\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

(136091, 52)

In [5]:
data.head()

,Cod unic candidat,Sex,Specializare,Profil,Fileira,Forma de învățământ,Mediu candidat,Unitate (SIIIR),Unitate (SIRUES),Clasa,...,NOTA_CONTESTATIE_EA,CONTESTATIE_EB,NOTA_CONTESTATIE_EB,CONTESTATIE_EC,NOTA_CONTESTATIE_EC,CONTESTATIE_ED,NOTA_CONTESTATIE_ED,PUNCTAJ DIGITALE,STATUS,Medie
0,10530,M,Filologie,Uman,Teoretică,Zi,URBAN,1561100746,470669.0,a XII-a RES 2014,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,22.0,Promovat,6.01
1,11067,F,Științe Sociale,Uman,Teoretică,Frecvență redusă,URBAN,3661100016,718401.0,a XIII-a A,...,5.9,Nu,NaN,Da,5.25,Nu,NaN,44.0,Nepromovat,5.38
2,11185,M,Științe ale Naturii,Real,Teoretică,Zi,URBAN,3661100016,718401.0,a XII-a B,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,NaN,Nepromovat,NaN
3,12449,M,Matematica-Informatica,Real,Teoretică,Zi,URBAN,3261101724,320675702.0,a XII-a A,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,76.0,Promovat,7.00
4,12341,F,Științe Sociale,Uman,Teoretică,Frecvență redusă,URBAN,3661100016,718401.0,a XIII-a A,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,28.0,Nepromovat,NaN

In [6]:
print(data.columns)
data.drop(data.columns[data.columns.str.contains('recun', case=False)], axis=1, inplace=True)
data.drop(data.columns[data.columns.str.contains('Unitate', case=False)], axis=1, inplace=True)
data.head()

Index(['Cod unic candidat', 'Sex', 'Specializare', 'Profil', 'Fileira',
       'Forma de învățământ', 'Mediu candidat', 'Unitate (SIIIR)',
       'Unitate (SIRUES)', 'Clasa', 'Subiect ea', 'Subiect eb',
       'Limba modernă', 'Subiect ec', 'Subiect ed', 'Promoție', 'NOTE_RECUN_A',
       'NOTE_RECUN_B', 'NOTE_RECUN_C', 'NOTE_RECUN_D', 'NOTE_RECUN_EA',
       'NOTE_RECUN_EB', 'NOTE_RECUN_EC', 'NOTE_RECUN_ED', 'STATUS_A',
       'STATUS_B', 'STATUS_C', 'STATUS_D', 'STATUS_EA', 'STATUS_EB',
       'STATUS_EC', 'STATUS_ED', 'ITA', 'SCRIS_ITC', 'SCRIS_PMS', 'ORAL_PMO',
       'ORAL_IO', 'NOTA_EA', 'NOTA_EB', 'NOTA_EC', 'NOTA_ED', 'CONTESTATIE_EA',
       'NOTA_CONTESTATIE_EA', 'CONTESTATIE_EB', 'NOTA_CONTESTATIE_EB',
       'CONTESTATIE_EC', 'NOTA_CONTESTATIE_EC', 'CONTESTATIE_ED',
       'NOTA_CONTESTATIE_ED', 'PUNCTAJ DIGITALE', 'STATUS', 'Medie'],
      dtype='object')

,Cod unic candidat,Sex,Specializare,Profil,Fileira,Forma de învățământ,Mediu candidat,Clasa,Subiect ea,Subiect eb,...,NOTA_CONTESTATIE_EA,CONTESTATIE_EB,NOTA_CONTESTATIE_EB,CONTESTATIE_EC,NOTA_CONTESTATIE_EC,CONTESTATIE_ED,NOTA_CONTESTATIE_ED,PUNCTAJ DIGITALE,STATUS,Medie
0,10530,M,Filologie,Uman,Teoretică,Zi,URBAN,a XII-a RES 2014,Limba română (UMAN),NaN,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,22.0,Promovat,6.01
1,11067,F,Științe Sociale,Uman,Teoretică,Frecvență redusă,URBAN,a XIII-a A,Limba română (UMAN),NaN,...,5.9,Nu,NaN,Da,5.25,Nu,NaN,44.0,Nepromovat,5.38
2,11185,M,Științe ale Naturii,Real,Teoretică,Zi,URBAN,a XII-a B,Limba română (REAL),NaN,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,NaN,Nepromovat,NaN
3,12449,M,Matematica-Informatica,Real,Teoretică,Zi,URBAN,a XII-a A,Limba română (REAL),NaN,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,76.0,Promovat,7.00
4,12341,F,Științe Sociale,Uman,Teoretică,Frecvență redusă,URBAN,a XIII-a A,Limba română (UMAN),NaN,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,28.0,Nepromovat,NaN

In [7]:
data.drop(columns=['Clasa', 'Promoție'], inplace=True)
data.head()

,Cod unic candidat,Sex,Specializare,Profil,Fileira,Forma de învățământ,Mediu candidat,Subiect ea,Subiect eb,Limba modernă,...,NOTA_CONTESTATIE_EA,CONTESTATIE_EB,NOTA_CONTESTATIE_EB,CONTESTATIE_EC,NOTA_CONTESTATIE_EC,CONTESTATIE_ED,NOTA_CONTESTATIE_ED,PUNCTAJ DIGITALE,STATUS,Medie
0,10530,M,Filologie,Uman,Teoretică,Zi,URBAN,Limba română (UMAN),NaN,Limba engleză,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,22.0,Promovat,6.01
1,11067,F,Științe Sociale,Uman,Teoretică,Frecvență redusă,URBAN,Limba română (UMAN),NaN,Limba engleză,...,5.9,Nu,NaN,Da,5.25,Nu,NaN,44.0,Nepromovat,5.38
2,11185,M,Științe ale Naturii,Real,Teoretică,Zi,URBAN,Limba română (REAL),NaN,Limba engleză,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,NaN,Nepromovat,NaN
3,12449,M,Matematica-Informatica,Real,Teoretică,Zi,URBAN,Limba română (REAL),NaN,Limba engleză,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,76.0,Promovat,7.00
4,12341,F,Științe Sociale,Uman,Teoretică,Frecvență redusă,URBAN,Limba română (UMAN),NaN,Limba engleză,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,28.0,Nepromovat,NaN

In [8]:
data['NOTA_FINALA_EA'] = data.apply(lambda row: row['NOTA_CONTESTATIE_EA'] if row['CONTESTATIE_EA'].lower() == 'da' else row['NOTA_EA'], axis=1)
data['NOTA_FINALA_EB'] = data.apply(lambda row: row['NOTA_CONTESTATIE_EB'] if row['CONTESTATIE_EB'].lower() == 'da' else row['NOTA_EB'], axis=1)
data['NOTA_FINALA_EC'] = data.apply(lambda row: row['NOTA_CONTESTATIE_EC'] if row['CONTESTATIE_EC'].lower() == 'da' else row['NOTA_EC'], axis=1)
data['NOTA_FINALA_ED'] = data.apply(lambda row: row['NOTA_CONTESTATIE_ED'] if row['CONTESTATIE_ED'].lower() == 'da' else row['NOTA_ED'], axis=1)
data.drop(columns=['NOTA_EA', 'CONTESTATIE_EA', 'NOTA_CONTESTATIE_EA','NOTA_EB', 'CONTESTATIE_EB', 'NOTA_CONTESTATIE_EB','NOTA_EC', 'CONTESTATIE_EC', 'NOTA_CONTESTATIE_EC','NOTA_ED', 'CONTESTATIE_ED', 'NOTA_CONTESTATIE_ED'], inplace=True)
data.rename(columns={'Fileira': 'Filiera'}, inplace=True)
data.head()

# Save the DataFrame as a CSV file
csv_file = "./BAC/bac2019.csv"
data.to_csv(csv_file, index=False)  # index=False prevents pandas from writing row numbers

print(f"Data has been saved to {csv_file}")

Data has been saved to ./BAC/bac2019.csv

In [46]:
print("Extracting UMFCD results to csv...")
# Extract tables from all pages of the PDF
df_list = read_pdf("./Admiteri/UMFCD_2019.pdf", pages='all', multiple_tables=True)

# Combine all DataFrames into a single DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Save the combined DataFrame to a CSV file
combined_df.to_csv("./Admiteri CSV/UMFCD_raw_2019.csv", index=False)
print("Done.")

Extracting UMFCD results to csv...
Done.

In [47]:
print("Printing UMFCD csv...")
data_UMFCD = pd.read_csv("./Admiteri CSV/UMFCD_2019.csv", skip_blank_lines=True)
data_UMFCD.head()

Printing UMFCD csv...

,Nr,Nume,Inițiala,Prenume,Legitimatie,Puncte,Nota,Disciplina\robligatorie,Bac,Rezultat
0,1,BORDEIANU,Ş.,ANDREI,108,100,10.0,60,10.00,olimpic
1,2,ALBERT,E.,CARINA-ALEXANDRA,2630,100,10.0,60,9.96,olimpic
2,3,DAMIAN-BUDA,V.,ADRIANA-CEZARA,3472,100,10.0,60,9.96,olimpic
3,4,PAPA,Ş.I.,IOANA-ALEXANDRA,3364,100,10.0,60,9.93,olimpic
4,5,POPEANU,M.M.M.,SANDRA-MARIA-\rSUMMER,2188,100,10.0,60,9.93,olimpic

In [48]:
print("Extracting and processing tables from PDF...")

# Extract tables from all pages of the PDF
df_list = read_pdf("./Admiteri/UPB_ACS_2014.pdf", pages='all', multiple_tables=True)

# Combine all DataFrames into a single DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Replace NaN values with empty strings
combined_df = combined_df.fillna('')

# Convert rows to strings and clean up multiple commas
combined_df = combined_df.astype(str).apply(lambda x: ','.join(x).replace(',,', ',').strip(','), axis=1)

# Adjust rows after the 32nd entry
def adjust_entry(entry):
    values = entry.split(',')
    if len(values) > 6:  # Ensure there are at least 7 columns
        position = values[6]  # Extract the 7th column value (index 6)
        remaining = values[:6] + values[7:]  # Exclude the positional value from its original place
        adjusted_entry = [position] + remaining
        return ','.join([v for v in adjusted_entry if v])  # Remove empty fields (extra commas)
    return entry

# Remove ".0" decimals from entries
def remove_decimal(entry):
    values = entry.split(',')
    values[0] = str(int(float(values[0]))) if values[0].replace('.', '', 1).isdigit() and values[0].endswith('.0') else values[0]
    return ','.join(values)

# Apply adjustments only to rows after the 32nd entry
combined_df.iloc[33:] = combined_df.iloc[33:].apply(adjust_entry).apply(remove_decimal)

# Add proper headers
headers = [
    "Nr.", "Nume", "I.T.", "Prenume", "Optiuni", 
    "BAC", "Proba 1", "Proba 2", "Medie Probe", "Medie GEN"
]

# Split the cleaned rows back into columns
combined_df = combined_df.apply(lambda x: pd.Series(x.split(',')))

# Trim the number of columns to match the headers if there are extra columns
combined_df = combined_df.iloc[:, :len(headers)]  # Keep only the first 10 columns
combined_df.columns = headers  # Assign the headers
combined_df = combined_df.drop(index=0)

# Save the cleaned DataFrame to a CSV file without quotes
output_file = "./Admiteri CSV/UPB_ACS_raw_2014.csv"
combined_df.to_csv(output_file, index=False, quoting=csv.QUOTE_NONE, escapechar=' ')

print(f"Cleaned and processed data saved to {output_file}.")

Extracting and processing tables from PDF...
Cleaned and processed data saved to ./Admiteri CSV/UPB_ACS_2014.csv.

In [49]:
print("Printing UPB ACS csv...")
data_UPB_ACS = pd.read_csv("./Admiteri CSV/UPB_ACS_2014.csv", skip_blank_lines=True)
data_UPB_ACS.head()

Printing UPB ACS csv...

,Nr.,Nume,I.T.,Prenume,Optiuni,BAC,Proba 1,Proba 2,Medie Probe,Medie GEN
0,1,MOCANU,L.T.,Alexandru,CTI IS CTI.X IS.X,9.88,NaN,olimpic,NaN,NaN
1,2,POPA,V.,Ștefan-Adrian,CTI IS,9.80,NaN,olimpic,NaN,NaN
2,3,CASAPOPOL,M.,Ana-Eliza,CTI CTI.X IS IS.X,9.71,NaN,olimpic,NaN,NaN
3,4,NIȚU,P.,Ovidiu-Alexandru,CTI IS CTI.X IS.X,9.68,NaN,olimpic,NaN,NaN
4,5,DRĂGAN,E.,Relu,CTI IS CTI.X IS.X,9.63,NaN,olimpic,NaN,NaN

In [59]:
print("Extracting GEOGRAFIE results to CSV...")

# Extract tables from all pages of the PDF
pdf_path = "./Admiteri/GEOGRAFIE_2024.pdf"
df_list = read_pdf(pdf_path, pages='all', multiple_tables=True)

# Combine all extracted tables into a single DataFrame
df = pd.concat(df_list, ignore_index=True)

# Define the headers
headers = ["Nr.", "Dosar", "Medie BAC"]

# Drop completely empty rows and reset index
df = df.dropna(how="all").reset_index(drop=True)

# Extract relevant columns
# Adjust the slicing based on the actual structure of the data
df_cleaned = df.iloc[:, [1, 3, 7]]  # Assuming relevant columns are at indices 1, 3, and 7

# Assign headers
df_cleaned.columns = headers

# Clean up unnecessary spaces and remove completely empty rows
df_cleaned = df_cleaned.applymap(lambda x: str(x).strip() if pd.notnull(x) else "").replace("", None)
df_cleaned = df_cleaned.dropna(how="all")  # Drop rows that are completely empty
df_cleaned = df_cleaned.drop(index=0)

# Save the cleaned DataFrame to a new CSV file
output_file = "./Admiteri CSV/GEOGRAFIE_raw_2024.csv"
df_cleaned.to_csv(output_file, index=False)

print(f"Cleaned and processed data saved to {output_file}.")

Extracting GEOGRAFIE results to CSV...
Cleaned and processed data saved to ./Admiteri CSV/GEOGRAFIE_2024.csv.

C:\Users\Victor\AppData\Local\Temp\ipykernel_32020\3741585830.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df_cleaned.applymap(lambda x: str(x).strip() if pd.notnull(x) else "").replace("", None)

In [60]:
print("Printing GEOGRAFIE csv...")
data_GEOGRAFIE = pd.read_csv("./Admiteri CSV/GEOGRAFIE_2024.csv", skip_blank_lines=True)
data_GEOGRAFIE.head()

Printing GEOGRAFIE csv...

  Nr.  Dosar Medie BAC
0   1  74444   Olimpic
1   2  57462   Olimpic
2   3  59455   Olimpic
3   4  66642   Olimpic
4   5  71709      9.68

In [5]:
print("Extracting ARH results to CSV...")

# Extract tables from all pages of the PDF
pdf_path = "./Admiteri/ARHITECTURA_2024.pdf"
df_list = read_pdf(pdf_path, pages='all', multiple_tables=True)

# Combine all extracted tables into a single DataFrame
df = pd.concat(df_list, ignore_index=True)

# Define the headers
headers = ["Nr.", "Cod", "Medie BAC", "Proba Romana", "Proba Economie", "Proba Gandire Critica", "Medie"]

# Drop completely empty rows and reset index
df = df.dropna(how="all").reset_index(drop=True)

# df_cleaned = df_cleaned.drop(index=0)

# Save the cleaned DataFrame to a new CSV file
output_file = "./Admiteri CSV/ARHITECTURA_raw_2024.csv"
df.to_csv(output_file, index=False)

print(f"Cleaned and processed data saved to {output_file}.")

Extracting ARH results to CSV...
Cleaned and processed data saved to ./Admiteri CSV/ARH_2024.csv.

In [9]:
print("Printing ARHITECTURA csv...")
data_ARH = pd.read_csv("./Admiteri CSV/ARHITECTURA_clean_2024.csv", skip_blank_lines=True)
data_ARH.head()

Printing ARHITECTURA csv...

,Nr.,Dosar,Medie BAC,Prezenta,Nota Admitere,Medie Generala,Status,Observatii,Loc repartizat
0,1,0084,9.63,Prezent,Olimpic,Olimpic,Admis Buget,INSCRIS,B-1
1,2,0859,9.31,Prezent,9.04,9.12,Admis Buget,INSCRIS,B-2
2,3,0347,9.73,Prezent,8.64,8.97,Admis Buget,INSCRIS,B-3
3,4,0168,9.51,Prezent,8.46,8.78,Admis Buget,INSCRIS,B-4
4,5,0098,9.86,Prezent,8.26,8.74,Admis Buget,INSCRIS,B-5

In [12]:
print("Printing DREPT csv...")
data_DREPT = pd.read_csv("./Admiteri CSV/DREPT_clean_2024.csv", skip_blank_lines=True)
data_DREPT.head()

Printing DREPT csv...

   Nr.  Medie BAC  Nota Română
0    1       9.48         9.85
1    2       9.26         8.55
2    3       9.06         8.35
3    4       9.60         9.40
4    5       9.36         9.65

In [13]:
print("Printing JURNALISM csv...")
data_JURNALISM = pd.read_csv("./Admiteri CSV/JURNALISM_2024.csv", skip_blank_lines=True)
data_JURNALISM.head()

Printing JURNALISM csv...

,Nr.Crt.,Nr.Legitimatie.,Medie admitere (15% BAC +15% Lb.rom scris+ 70% examen scris)
0,1,259,8.78
1,2,280,8.64
2,3,273,8.37
3,4,264,8.26
4,5,277,8.24

In [15]:
print("Extracting PSIHOLOGIE results to CSV...")

# Extract tables from all pages of the PDF
pdf_path = "./Admiteri/PSIHOLOGIE_2024.pdf"
df_list = read_pdf(pdf_path, pages='all', multiple_tables=True)

# Combine all extracted tables into a single DataFrame
df = pd.concat(df_list, ignore_index=True)

# Drop completely empty rows and reset index
df = df.dropna(how="all").reset_index(drop=True)

# Save the cleaned DataFrame to a new CSV file
output_file = "./Admiteri CSV/PSIHOLOGIE_raw_2024.csv"
df.to_csv(output_file, index=False)

print(f"Cleaned and processed data saved to {output_file}.")

Extracting PSIHOLOGIE results to CSV...
Cleaned and processed data saved to ./Admiteri CSV/PSIHOLOGIE_2024.csv.

In [16]:
print("Printing PSIHOLOGIE  csv...")
data_PSIHOLOGIE  = pd.read_csv("./Admiteri CSV/PSIHOLOGIE_2024.csv", skip_blank_lines=True)
data_PSIHOLOGIE .head()

Printing PSIHOLOGIE  csv...

   Nr.crt  Nr.dosar  Medie admitere
0     1.0   37385.0            10.0
1     2.0   47525.0             9.4
2     3.0   48748.0             9.4
3     4.0   44301.0             9.1
4     5.0   40732.0             9.0

In [17]:
print("Extracting SNSPA results to CSV...")

# Extract tables from all pages of the PDF
pdf_path = "./Admiteri/SNSPA_2024.pdf"
df_list = read_pdf(pdf_path, pages='all', multiple_tables=True)

# Combine all extracted tables into a single DataFrame
df = pd.concat(df_list, ignore_index=True)

# Drop completely empty rows and reset index
df = df.dropna(how="all").reset_index(drop=True)

# Save the cleaned DataFrame to a new CSV file
output_file = "./Admiteri CSV/SNSPA_raw_2024.csv"
df.to_csv(output_file, index=False)

print(f"Cleaned and processed data saved to {output_file}.")

Extracting SNSPA results to CSV...
Cleaned and processed data saved to ./Admiteri CSV/SNSPA_2024.csv.

In [19]:
print("Printing SNSPA csv...")
data_SNSPA = pd.read_csv("./Admiteri CSV/SNSPA_2024.csv", skip_blank_lines=True)
data_SNSPA.head()

Printing SNSPA  csv...

   Nr.   Dosar  Nota Specializare
0  1.0  1071.0  10.0   RISE buget
1  2.0    27.0  10.0   RISE buget
2  3.0   581.0  10.0   RISE buget
3  4.0    94.0  10.0   RISE buget
4  5.0  1705.0  10.0   RISE buget

In [3]:
print("Extracting UNIBUC MATE results to CSV...")

# Extract tables from all pages of the PDF
pdf_path = "./Admiteri/UNIBUC_MATE_2024.pdf"
df_list = read_pdf(pdf_path, pages='all', multiple_tables=True)

# Combine all extracted tables into a single DataFrame
df = pd.concat(df_list, ignore_index=True)

# Drop completely empty rows and reset index
df = df.dropna(how="all").reset_index(drop=True)

# Save the cleaned DataFrame to a new CSV file
output_file = "./Admiteri CSV/UNIBUC_MATE_raw_2024.csv"
df.to_csv(output_file, index=False)

print(f"Cleaned and processed data saved to {output_file}.")

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

Extracting UNIBUC MATE results to CSV...
Cleaned and processed data saved to ./Admiteri CSV/UNIBUC_MATE_2024.csv.

In [5]:
print("Printing UNIBUC MATE csv...")
data_UNIBUC_MATE = pd.read_csv("./Admiteri CSV/UNIBUC_MATE_2024.csv", skip_blank_lines=True)
data_UNIBUC_MATE.head()

Printing UNIBUC MATE csv...

   Nr.   Dosar  Nr.Pref.  Medie
0    1  1103.0       1.0   10.0
1    2  1371.0       1.0   10.0
2    3   380.0       1.0   10.0
3    4   723.0       1.0   10.0
4    5  1889.0       1.0   10.0

In [6]:
print("Extracting UNIBUC CTI+INFO results to CSV...")

# Extract tables from all pages of the PDF
pdf_path = "./Admiteri/UNIBUC_CTI_INFO_2024.pdf"
df_list = read_pdf(pdf_path, pages='all', multiple_tables=True)

# Combine all extracted tables into a single DataFrame
df = pd.concat(df_list, ignore_index=True)

# Drop completely empty rows and reset index
df = df.dropna(how="all").reset_index(drop=True)

# Save the cleaned DataFrame to a new CSV file
output_file = "./Admiteri CSV/UNIBUC_CTI_INFO_raw_2024.csv"
df.to_csv(output_file, index=False)

print(f"Cleaned and processed data saved to {output_file}.")

Extracting UNIBUC CTI+INFO results to CSV...
Cleaned and processed data saved to ./Admiteri CSV/UNIBUC_CTI_INFO_2024.csv.

In [8]:
print("Printing UNIBUC CTI+INFO csv...")
data_UNIBUC_CTI_INFO = pd.read_csv("./Admiteri CSV/UNIBUC_CTI_INFO_2024.csv", skip_blank_lines=True)
data_UNIBUC_CTI_INFO.head()

Printing UNIBUC CTI+INFO csv...

   Nr.   Dosar  Nr.Pref.  Medie
0    1   349.0       1.0   10.0
1    2   243.0       1.0   10.0
2    3   185.0       1.0   10.0
3    4  3140.0       1.0   10.0
4    5  1833.0       1.0   10.0